.hero-section {
    background: url(/assets/img/content/tradingsystem.webp) no-repeat bottom right;
    background-size: 100% 100%;
    color: white;
    height: 250px;
}

.section-i {
    padding: 0;
}

.pictureImgBig {
    width: 800px;
}

.pictureImg {

    min-width: 300px;
    // float: right;
    // margin-left: 20px;
}

.img_content {
    max-width: 100%;
    min-width: 300px;
    margin-top: 20px;
}

h2,
h1 {
    align-self: center;
}

@media (min-width: 700px) {
    .hero-section {
        height: 400px;
    }

    .img_content {
        max-width: 65%;
        min-width: 300px;
    }

    .pictureImg {
        max-width: 25%;
        min-width: 300px;
        // float: right;
        // margin-left: 20px;
    }

    .pictureImgBig {
        width: 800px;
    }
}

@media (min-width: 900px) {
    h1 {
        text-align: center !important;
    }

    .hero-section {
        height: 500px;
    }
}

@media (min-width: 1100px) {
    .hero-section {
        height: 600px;
    }
}

.flex {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;

}

.pad6 {
    padding: 60px 0;
}