<section class="hero-section" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content hero-content-main_block pt50">
                    <h1 class="orange ">
                        Free Trading Education
                    </h1>
                     
                    <div>
                        <p>
                            <a routerLink="freeeducation" class="orange dec blacklink">Free trading training</a> ,
                            including
                            <a class="orange dec"
                                href="https://youtube.com/playlist?list=PLdXB70rGX5_zqH_X84Q_z0wj5pQYhdqfk&si=Hquku7z09eOtp4fp">detailed
                                video tutorials</a>, articles and free educational materials, compiled into
                            full-fledged courses on key trading topics for self-study by Igor Arapov.
                        </p>
                    </div>

 

                </div>
                <div class="hero-image-place  m-right">
                    <picture class="hero-image">
                        <source srcset="/assets/img/content/author22.png" media="(min-width: 600px)">
                         
                        <img src="/assets/img/content/author22.png" alt="author" loading="lazy">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="separator" #scrollToTop>
    <div class="line"></div>
</section>

<section class="" id="hero">
    <div class="container black">
        <div class="section-i padd3">
            <div class="groups-block">

                <div *ngFor="let group of enGroups" class="inpFlex">
                    <label>
                        <input type="checkbox" [checked]="this.grr.includes(group)" [value]="group"
                            (change)="onGroupChange($event)" [class.checked-class]="checkedGroup.includes(group)" /> {{
                        group
                        }}
                    </label>
                </div>
            </div>
            <div class="section-content">
                <div class="hero-content flex">



                    <ng-template #articleTemplate let-article>
                        <div class="article">
                            <div class="programm__list">
                                <div class="programm__item">
                                    <span class="programm__close"></span>
                                    <div class="programm__in box">
                                        <a routerLink="{{article.linkUkr}}" hreflang="en">
                                            <img class="article-img" src="{{article.imgUkr}}" alt="requotes"
                                                loading="lazy">
                                        </a>
                                        <div class="programm__title orange">
                                            <a routerLink="{{article.linkUkr}}" class="orange" hreflang="en">
                                                <h3>{{article.titleEn}}</h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <div *ngFor="let article of paginatedArticles">

                        <ng-container *ngTemplateOutlet="articleTemplate; context: { $implicit: article }">

                        </ng-container>

                    </div>

                </div>

            </div>
            <!-- <mat-paginator [length]="filteredArticles.length" [pageSize]="pageSize" [hidePageSize]="true"
                    aria-label="Select page" (page)="onPageChange($event)">>
                </mat-paginator> -->
            <mat-paginator #paginator [length]="filteredArticles.length" [pageSize]="pageSize"
                [pageSizeOptions]="[6, 12, 18, 24 ,100 ]" aria-label="Select page" (page)="onPageChange($event)">>
            </mat-paginator>
        </div>
    </div>
</section>