 
.img_title {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.img_title_wrapper img {
    margin: 7px;
}

.img_title_wrapper a {
    text-decoration: none;
    background-color: transparent;

    color: #333333;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.img_title_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img_title_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 640px) {
    .img_title_wrapper {
        flex-direction: row;
    }

    .img_title_wrapper img {
        margin-right: 15px;
    }

    .img_title {
        width: 40px;
        height: 40px;
    }
}