<section class="programm" id="course-trading">
  <div class="container gray-color">
    <h1 class="orange title_course">Курси з трейдингу</h1>
    <div class="programm__list">
      <div class="programm__item">
        <a href="#" class="programm__link js-open-modal"></a>
        <div class="programm__in programm__in__pad">
          <span class="programm__close"></span>

          <div class="programm__content styled-list-block">
            <p>
              <em class="first_stroke"
                ><i>Платні курси з трейдингу з наставником</i></em
              >
              — це не обов’язковий крок, а свідомий вибір для тих, хто хоче
              навчитися трейдингу швидше, з підтримкою та чіткою структурою.
            </p>

            <div itemscope itemtype="https://schema.org/Article">
              <p itemprop="description">
                Уся необхідна інформація для навчання дійсно є в моєму
                <a
                  itemprop="url"
                  class="linkrefinto"
                  href="https://arapov.trade/uk/freestudying/freeeducation"
                >
                  <span itemprop="name">безкоштовному курсі</span>
                </a>
                — ви можете вивчати його самостійно та у зручному для себе
                темпі, а головне — безкоштовно.
              </p>
              <span style="display: none">
                <meta
                  itemprop="mainEntityOfPage"
                  content="https://arapov.trade/uk/freestudying/freeeducation"
                />
                <meta
                  itemprop="headline"
                  content="Безкоштовний курс з трейдингу від Ігоря Арапова"
                />
                <meta
                  itemprop="datePublished"
                  content="2024-12-01T00:00:00+03:00"
                />
                <meta
                  itemprop="dateModified"
                  content="2025-06-01T00:00:00+03:00"
                />
                <meta
                  itemprop="image"
                  content="https://arapov.trade/assets/img/content/freeeducationnew.webp"
                />
                <span
                  itemprop="author"
                  itemscope
                  itemtype="https://schema.org/Person"
                >
                  <meta itemprop="name" content="Ігор Арапов" />
                  <meta itemprop="url" content="https://arapov.trade/uk" />
                </span>
              </span>
            </div>
            <p>
              Але якщо для вас важливі швидкість, системність і зворотний
              зв’язок від досвідченого наставника, то персональне навчання
              допоможе вам заощадити час і уникнути типових помилок, які
              допускають більшість трейдерів-початківців на початку свого шляху.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-i pad4">
      <h2>Навчальна програма</h2>
      <div class="programm-decor" style="margin: -10px 0 -40px">
        <picture class="image">
          <source
            srcset="/assets/img/content/icon-course-01_big.png"
            media="(min-width: 900px)"
          />
          <img src="/assets/img/content/icon-course-01.png" alt="diagram" />
        </picture>
      </div>

      <div class="programm__list">
        <div class="programm__item">
          <a href="#" class="programm__link js-open-modal"></a>
          <div class="programm__in programm__in__pad">
            <span class="programm__close"></span>
            <div class="programm__title orange">Знайомство з біржею</div>
            <ol class="programm__content styled-list-block">
              <li>Біржа: структура та принцип роботи</li>
              <li>Роль біржі у фінансовому секторі економіки</li>
              <li>Основні учасники фінансового ринку - банки, фонди та інше</li>
              <li>Види активів</li>
            </ol>
          </div>
        </div>
        <div class="programm__item">
          <a href="#" class="programm__link js-open-modal"></a>
          <div class="programm__in programm__in__pad">
            <span class="programm__close"></span>
            <div class="programm__title orange">Аналіз ринку</div>
            <ol class="programm__content styled-list-block">
              <li>Типи аналізу ринку</li>
              <li>Технічний аналіз. Торгова система «Робота від рівнів»</li>
              <li>Фундаментальний аналіз</li>
            </ol>
          </div>
        </div>
        <div class="programm__item">
          <a href="#" class="programm__link js-open-modal"></a>
          <div class="programm__in programm__in__pad">
            <span class="programm__close"></span>
            <div class="programm__title orange">Об'ємний аналіз ринку</div>
            <ol class="programm__content styled-list-block">
              <li>Ринковий профіль</li>
              <li>Читання стрічки та склянку цін, мікроструктура ринку</li>
              <li>Практика на реальних торгових рахунках</li>
            </ol>
          </div>
        </div>
        <div class="programm__item">
          <a href="#" class="programm__link js-open-modal"></a>
          <div class="programm__in programm__in__pad">
            <span class="programm__close"></span>
            <div class="programm__title orange">
              «Торгова система та психологія ринку» (заснована на методології
              Вайкоффа)
            </div>
            <ol class="programm__content styled-list-block">
              <li>Маніменеджмент</li>
              <li>Складний відсоток</li>
              <li>Ризик менеджмент</li>
              <li>
                Поведінкові чинники над ринком (маніпуляції ціною як тригер до
                дії)
              </li>
              <li>
                Зона попиту «натовпу» (дистрибуції активу великим капіталом)
              </li>
              <li>
                Зона розпродажу «натовпу» (нагромадження активу великим
                капіталом)
              </li>
            </ol>
          </div>
        </div>
      </div>
      <p>
        Результат - ви отримаєте торгову систему, засновану на читанні обсягів,
        а також ви дізнаєтеся, як функціонують ринки і отримаєте практичну
        навичку відкриття угод під керівництвом практикуючого трейдера,
        наставника курсу.
      </p>
      <div class="button-place">
        <button (click)="navigateToHomeWithId()" class="button js-scroll">
          <span style="margin-right: 15px">Залишити заявку</span>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="programm decor-right" id="advantages">
  <div class="container">
    <div class="section-i">
      <h2>Переваги мого підходу до навчання трейдингу</h2>
      <div class="programm-decor" style="margin: -30px 0 -10px">
        <picture class="image">
          <source
            srcset="/assets/img/content/icon-course-04_big.png"
            media="(min-width: 900px)"
          />
          <img src="/assets/img/content/icon-course-04.png" alt="diagram" />
        </picture>
      </div>
      <div class="programm__list">
        <div class="programm__item" style="background-color: #ffffff">
          <div class="programm__in programm__in__pad">
            <div class="programm__title orange">Практика під керівництвом</div>
            <p class="programm__content">
              Ви не просто вивчаєте теорію — ви торгуєте на реальних рахунках
              під моїм наставництвом. Я супроводжую вас на кожному етапі,
              допомагаючи застосовувати знання на практиці та мінімізувати
              помилки.
            </p>
          </div>
        </div>
        <div class="programm__item" style="background-color: #ffffff">
          <div class="programm__in programm__in__pad">
            <div class="programm__title orange">Перевірена торгова система</div>
            <p class="programm__content">
              Моя методика базується на концепції Вайкоффа та аналізі торгових
              обсягів. Це не «чарівна пігулка», а система з позитивним
              математичним очікуванням, яка довела свою ефективність на реальних
              рахунках моїх учнів.
            </p>
          </div>
        </div>
        <div class="programm__item" style="background-color: #ffffff">
          <div class="programm__in programm__in__pad">
            <div class="programm__title orange">Чесність і прозорість</div>
            <p class="programm__content">
              Жодних обіцянок швидких мільйонів. Я навчаю реальному трейдингу,
              де успіх залежить від дисципліни, знань і управління ризиками. Моя
              мета — зробити вас самостійним трейдером, а не залежним від
              сигналів.
            </p>
          </div>
        </div>
      </div>
      <p>
        Навчання у мене — це не про миттєве багатство, а про побудову стійкого
        навику, який приносить стабільний дохід на дистанції. Ви отримаєте
        знання, інструменти та підтримку, щоб упевнено торгувати на фінансових
        ринках.
      </p>
      <h4>
        Хочете дізнатися більше про те, як я можу допомогти вам досягти ваших
        фінансових цілей? Залиште заявку, і я особисто розповім, як почати шлях
        до успішного трейдингу!
      </h4>
      <div class="button-place">
        <button (click)="navigateToHomeWithId()" class="button js-scroll">
          <span style="margin-right: 15px">Залишити заявку</span>
        </button>
      </div>
    </div>
  </div>
</section>
<br />
<section class="programm" id="course-trading">
  <div class="container gray-color">
    <div class="section-i">
      <h2 style="text-align: center">
        Приклад результатів торгівлі моїх учнів за 6 місяців
      </h2>
      <div class="programm-decor" style="margin: -30px 0 -10px">
        <picture class="image">
          <source
            srcset="/assets/img/content/icon-course-02_big.png"
            media="(min-width: 900px)"
          />
          <img
            src="/assets/img/content/icon-course-02.png"
            alt="Навчання трейдингу"
          />
        </picture>
      </div>
      <div class="programm__list">
        <div class="programm__item">
          <a href="#" class="programm__link js-open-modal"></a>
          <div class="programm__in programm__in__pad">
            <span class="programm__close"></span>
            <div class="programm__title orange">
              Сергій Черемісін <br />
              <i class="small">Період навчання: липень-вересень 2024 року</i>
            </div>
            <br />
            <div class="pictureImgPractice_flex">
              <img
                class="pictureImgPractice"
                src="/assets/img/content/practiceCheremisinSerg.png"
                loading="lazy"
                alt="Сергій Черемісін"
              />
            </div>
            <br />
            <ul class="programm__content styled-list-block">
               
              <li itemscope itemtype="https://schema.org/Article">
                <meta
                  itemprop="headline"
                  content="Торгова статистика безкоштовного курсу від Ігоря Арапова"
                />
                Після закінчення навчання поповнення рахунку склало 16000 USD і
                ведеться активна публічна торгівля на
                <a
                  itemprop="significantLink"
                  href="https://www.mql5.com/ru/signals/2246716?source=Site+Signals+My&utm_source=website&utm_medium=article&utm_campaign=free_course"
                  class="linkrefinto"
                  target="_blank"
                  title="Публічний торговий рахунок учня на MQL5"
                >
                  <span itemprop="name">сервісі MQL5</span> </a
                >.
                <meta
                  itemprop="description"
                  content="Публічний торговий рахунок учня, який пройшов безкоштовний курс Ігоря Арапова, з поповненням 16000 USD. Лідер за капіталом підписників на MQL5."
                />
                <meta
                  itemprop="url"
                  content="https://arapov.trade/ru/studying"
                />
                <meta
                  itemprop="image"
                  content="https://arapov.trade/assets/img/photo_mainpage.jpg"
                />
                <span
                  itemprop="author"
                  itemscope
                  itemtype="https://schema.org/Person"
                >
                  <meta itemprop="name" content="Ігор Арапов" />
                  <meta itemprop="url" content="https://arapov.trade/uk" />
                </span>
                <meta itemprop="publisher" content="Ігор Арапов" />
              </li>
              <li>
                За 11 місяців торгівлі чистий прибуток склав 6237.14 USD, що
                становить 40% від суми депозиту. Загальна кількість завершених
                торгових угод — 789, з WinRate 67%, середня дохідність на місяць
                — 3.57%. Сергій активно веде свій рахунок публічно на сервері
                MQL5, де на момент написання статті має 8 підписників платних
                сигналів і 242 000 USD загального капіталу його підписників.
              </li>
              
              <li itemscope itemtype="https://schema.org/Article">
               У торгівлі використовує концепцію «<a
                  itemprop="url"
                  class="linkrefinto"
                  href="https://arapov.trade/uk/freestudying/wyckoffsvolumeconcept"
                >
                  <span itemprop="name">Річарда Вайкоффа</span> </a
                >» і торговельну систему «хибних пробоїв».

                <meta
                  itemprop="mainEntityOfPage"
                  content="https://arapov.trade/uk/freestudying/wyckoffsvolumeconcept"
                />
                <meta
                  itemprop="headline"
                  content="Концепція об’єму Річарда Вайкоффа у трейдингу"
                />
                <meta
                  itemprop="description"
                  content="У торгівлі використовується система Річарда Вайкоффа — один із базових підходів до аналізу ринку за обсягом."
                />
                <meta
                  itemprop="datePublished"
                  content="2024-12-10T00:00:00+03:00"
                />
                <meta
                  itemprop="dateModified"
                  content="2025-06-01T00:00:00+03:00"
                />
                <meta
                  itemprop="image"
                  content="https://arapov.trade/assets/img/content/wyckoffsvolumeconcept.webp"
                />

                <span
                  itemprop="author"
                  itemscope
                  itemtype="https://schema.org/Person"
                >
                  <meta itemprop="name" content="Ігор Арапов" />
                  <meta itemprop="url" content="https://arapov.trade/uk" />
                </span>
              </li>
              <li itemscope itemtype="https://schema.org/Article">
  Сергій використовує формули з активного
  <a
    itemprop="url"
    class="linkrefinto"
    href="https://arapov.trade/uk/freestudying/capitalmanagement"
  >
    <span itemprop="name">керування капіталом</span>
  </a>
  для підвищення прибутковості торгової стратегії, що, своєю чергою,
  збільшує загальну очікувану дохідність на дистанції.

  <meta
    itemprop="mainEntityOfPage"
    content="https://arapov.trade/uk/freestudying/capitalmanagement"
  />
  <meta
    itemprop="headline"
    content="Управління капіталом у трейдингу"
  />
  <meta
    itemprop="description"
    content="Дізнайтесь про управління капіталом у трейдингу: ризик-менеджмент, мані-менеджмент та стратегії контролю депозиту від ArapovTrade."
  />
  <meta
    itemprop="datePublished"
    content="2024-12-20T00:00:00+03:00"
  />
  <meta
    itemprop="dateModified"
    content="2025-06-01T00:00:00+03:00"
  />
  <meta
    itemprop="image"
    content="https://arapov.trade/assets/img/content/capitalmanagement.webp"
  />

  <span
    itemprop="author"
    itemscope
    itemtype="https://schema.org/Person"
  >
    <meta itemprop="name" content="Ігор Арапов" />
    <meta itemprop="url" content="https://arapov.trade/ru" />
  </span>
</li>


  <li itemscope itemtype="https://schema.org/Article">
  Посилання на публічний торговий рахунок Сергія на
  <a
    class="linkrefinto"
    target="_blank"
    href="https://www.mql5.com/ru/signals/2246716?source=Site+Signals+My"
    >сайті MQL5</a
  >, цей рахунок є демонстрацією
  <a
    itemprop="url"
    class="linkrefinto"
    href="https://arapov.trade/uk/freestudying/practic"
  >
    <span itemprop="name">торгової системи</span>
  </a>
  Ігоря Арапова, яка доступна безкоштовно на сайті для всіх охочих.

  <meta
    itemprop="mainEntityOfPage"
    content="https://arapov.trade/uk/freestudying/practic"
  />
  <meta
    itemprop="headline"
    content="Трейдинг: рекомендації та торгова система"
  />
  <meta
    itemprop="description"
    content="Дізнайтесь практичні рекомендації з трейдингу: торгова система, точки входу, мані-менеджмент і ризики від ArapovTrade."
  />
  <meta
    itemprop="datePublished"
    content="2024-11-15T00:00:00+03:00"
  />
  <meta
    itemprop="dateModified"
    content="2025-06-01T00:00:00+03:00"
  />
  <meta
    itemprop="image"
    content="https://arapov.trade/assets/img/content/prakticuk.jpg"
  />

  <span
    itemprop="author"
    itemscope
    itemtype="https://schema.org/Person"
  >
    <meta itemprop="name" content="Ігор Арапов" />
    <meta itemprop="url" content="https://arapov.trade/uk" />
  </span>
</li>

            </ul>
          </div>
        </div>
         
      </div>
      <p>
        Примітка: У відео "<a
          class="linkrefinto"
          target="_blank"
          href="https://youtu.be/7bN21ugs_2Q"
          >Як не втратити гроші в трейдингу?</a
        >
        " я порушую ключове питання, яке відокремлює прибуткового трейдера від
        неприбуткового.
      </p>
      <div itemscope itemtype="https://schema.org/VideoObject">
        <meta itemprop="name" content="Як не втратити гроші на трейдингу?" />
        <meta
          itemprop="description"
          content="Чому більшість початківців трейдерів втрачають гроші на біржі та як цього уникнути"
        />
        <meta
          itemprop="thumbnailUrl"
          content="https://i.ytimg.com/vi/7wC5YecNYRM/maxresdefault.jpg"
        />
        <meta itemprop="uploadDate" content="2025-05-15T10:00:00Z" />
        <meta itemprop="duration" content="PT19M59S" />
        <meta
          itemprop="contentUrl"
          content="https://www.youtube.com/watch?v=7wC5YecNYRM"
        />
        <meta
          itemprop="embedUrl"
          content="https://www.youtube.com/embed/7wC5YecNYRM"
        />
        <meta
          itemprop="keywords"
          content="трейдинг, навчання, курс, Ігор Арапов, криптовалюта, безкоштовний курс з трейдингу"
        />

        <div
          itemprop="publisher"
          itemscope
          itemtype="https://schema.org/Organization"
        >
          <meta itemprop="name" content="Ігор Арапов" />
          <div
            itemprop="logo"
            itemscope
            itemtype="https://schema.org/ImageObject"
          >
            <meta itemprop="url" content="https://arapov.trade/favicon.ico" />
            <meta itemprop="width" content="200" />
            <meta itemprop="height" content="200" />
          </div>
        </div>

        <div
          itemprop="interactionStatistic"
          itemscope
          itemtype="https://schema.org/InteractionCounter"
        >
          <meta
            itemprop="interactionType"
            content="https://schema.org/WatchAction"
          />
          <meta itemprop="userInteractionCount" content="321" />
        </div>
      </div>

      <p>
        В основі успішного трейдингу завжди лежить торгова система з позитивним
        математичним очікуванням і нічого іншого. Усіх прибуткових трейдерів
        об’єднує наявність таких систем.
      </p>
      <p>
        Прибутковість трейдерів різниться залежно від формул управління
        капіталом, оскільки їх є велика кількість, то й розподіл за
        прибутковістю йде від консервативних до високоризикованих.
      </p>
      <h4>
        Досвідчені трейдери ніколи не завищують ризики в трейдингу, а балансують
        між позитивним математичним очікуванням і контролем ризиків в окремо
        взятій угоді для досягнення позитивного результату на дистанції угод.
      </h4>
      <div class="button-place">
        <button (click)="navigateToHomeWithId()" class="button js-scroll">
          <span style="margin-right: 15px">Залишити заявку</span>
        </button>
      </div>
    </div>
  </div>
</section>
